/**You can use absolute position to set the
*/
.main-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;

}

.main-nav li {
    float: right;
}

.main-nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.banner-section {
    position:relative;
    width:100%;
    height:400px;
    background-image: url("../images/kitchen.jpg");
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.3);
}
.generic-content h2{
    padding-top:150px;
    padding-left:200px;
    color:white;

}

.generic-content p{
    padding-left: 200px;
    color:white;
}

.generic-content button{
    align-content: center;
}

.definition{
    position:relative;
    padding-top: 50px;
}
.sample-text{
    padding-top: 100px;
}
.footer{
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
.footer p {
    text-align: center;
    padding: 14px 16px;
    color: white;
}