@(person: Form[CreatePersonForm])(implicit request: MessagesRequestHeader)

@import helper._


@main("Welcome to our website") {
	<div class="header">

		<div class="main-nav">
			<ul>
				<li><a href="#">CONTACT</a></li>
				<li><a href="#">SERVICES</a></li>
				<li><a href="#">ABOUT</a></li>
				<li><a href="@routes.PersonController.index">HOME</a></li>
			</ul>
		</div>
	</div>

	<div class="banner-section">
		<div class="generic-content">
			<h2>The Home Page</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do <br/> eiusmod tempor incididunt ut
				labore et dolore magna aliqua. </p>
		</div>
	</div>


	<div class="definition">
		<div class="row">
			<div class="col-md-4">
				<div class="single-defination">
					<h4 class="mb-20">Who we are</h4>
					<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
				</div>
				<button type="button" class="btn btn-secondary">Read more</button>
			</div>

			<div class="col-md-4">
				<div class="single-defination">
					<h4 class="mb-20">What we can do </h4>
					<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
				</div>
				<button type="button" class="btn btn-secondary">Read more</button>
			</div>

			<div class="col-md-4">
				<div class="single-defination">
					<h4 class="mb-20">Success stories</h4>
					<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
				</div>
				<button type="button" class="btn btn-secondary">Read more</button>
			</div>
		</div>
	</div>

	<div class="sample-text">
		<h3>About us</h3>
		<p>
			There are many variations of passages of Lorem Ipsum available,
			but the majority have suffered alteration in some form, by injected humour,
			or randomised words which don't look even slightly believable. If you are going
			to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing
			hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat
			predefined chunks as necessary, making this the first true generator on the Internet. It uses
			a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to
			generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from
			repetition, injected humour, or non-characteristic words etc.

		</p>
	</div>

	<div class="footer">
		<p>&copy; 2018</p>
	</div>

}
	@**We return the title and body parameters defined in our main.scala.html
	2. Then we define the value of the title tag, which will display welcome to
	our website
	3. what follows is our links which are Home, About, Services, and Contact pages
	*****@